[submodule "srcs/api_gateway"]
	path = srcs/api_gateway
	url = https://github.com/supershy42/api_gateway.git
[submodule "srcs/chat"]
	path = srcs/chat
	url = https://github.com/supershy42/chat.git
[submodule "srcs/game"]
	path = srcs/game
	url = https://github.com/supershy42/game.git
[submodule "srcs/frontend"]
	path = srcs/frontend
	url = https://github.com/supershy42/frontend.git
[submodule "srcs/user"]
	path = srcs/user
	url = https://github.com/supershy42/user.git
